# IntelliJ IDEA
.idea/
*.iml
out/

# Gradle
.gradle/
build/

# IntelliJ Plugin Sandbox
build/idea-sandbox/
idea-sandbox/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.hprof

lsp-8600
.intellijPlatform
kmptcp_kotlin_sample_template
flutter-intellij